<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Página Inicial</title>
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>
<nav class="menu">
    <ul>
        <a th:href="@{/criar}">Criar-Usuario</a>
        <a th:href="@{/login}">Login</a>
    </ul>
</nav>

<main class="content">
    <h1>Bem-vindo ao Sistema</h1>
    <p>Escolha uma opção no menu acima para continuar.</p>
</main>
</body>
</html>
