<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Página Inicial</title>
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>


<main class="content">
    <h1>Bem-vindo à Migração de CSV - Teste Multi Portal</h1>

    <p>
        Escolha uma opção para continuar.
    </p>

    <p>
        Você pode <strong>criar um novo usuário</strong> ou usar as credenciais padrão abaixo para realizar o login.
    </p>

    <div>
        <p><strong>Usuário:</strong> <code>admin</code></p>
        <p><strong>Senha:</strong> <code>admin123</code></p>
    </div>
</main>

<nav class="menu">
    <ul>
        <a th:href="@{/criar}">Criar-Usuario</a>
    </ul>

    <ul>
        <a th:href="@{/login}">Login</a>
    </ul>
</nav>
</body>
</html>
