<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload CSV</title>
    <link th:href="@{/css/upload.css}" rel="stylesheet">
</head>
<body>

<h2>Upload de CSV</h2>

<input type="file" id="fileInput" />

<div class="button-group">
    <button onclick="uploadFile()">Enviar</button>
    <button onclick="listarPessoas()">Listar</button>
    <button onclick="exportarCSV()">ExportarCSV</button>
    <button onclick="voltar()">Voltar</button>
    <button onclick="summaryPage()">Process</button>
</div>

<div id="resultado"  style="margin-top:20px;"></div>
<div id="uploadInfo" style="margin-top:20px;">

    <table border="1">
        <thead>
        <tr>
            <th>Nome</th><th>Sobrenome</th><th>Email</th><th>Sexo</th><th>IP</th><th>Idade</th><th>Nascimento</th>
        </tr>
        </thead>
        <tbody id="tabela-corpo">

        </tbody>
    </table>

    <div id="paginacao">

    </div>

</div>


<script th:src="@{/js/upload.js}"></script>
<script th:src="@{/js/Helper.js}"></script>
</body>
</html>
